*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.7em;
}

#container {
		margin: 0 auto;
}
	
.content {
	  width: 90%;
	  margin: 20px auto;
}

span {
	cursor: pointer;
}

span:hover {
	text-decoration: underline;
	color: red;
}

/********** VIDEO PLAYER ***********/

/* Border video overlay */

.mejs__overlay {
	border: 2px solid #d91420;
}

/* Controls background */

.mejs__inner .mejs__controls {
	background: #000;
}

/* Time bar */

.mejs__time-current,
.mejs__time-handle-content {
    background: #d91420;
}

/** Interactive behavior **/


/* Highlighting text when video is playing */

.highlight {
	color: #fff;
	background: #d91420;
}


/********** MEDIA QUERIES **********/

@media (min-width: 786px) {

.content {
	max-width: 727px;
	}
}
