*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.7em;
}

#container {
		margin: 0 auto;
}
	
.content {
	  width: 90%;
	  margin: 40px auto;
	  padding: 1.4em;
}


@media (min-width: 786px) {

.content {
	max-width: 727px;
	}
}
